$primary:     #2B8A3E;
$secondary:   #113F67;
$black:       #526173;
$active:      #2B8A3E;
$success:     #51CF66;
$warning:     #FFD452;
$error:       #FF4000;
$bkgd1:       #F8F9FA;
$bkgd2:       #FFFFFF;