 @font-face {
  font-family: 'Open Sans Hebrew Bold';
  src: url('assets/Fonts/OpenSansHebrew/OpenSansHebrew-Bold.ttf');
  font-weight: normal;
  font-style: normal;
}
 @font-face {
  font-family: 'Open Sans Hebrew Bold Italic';
  src: url('assets/Fonts/OpenSansHebrew/OpenSansHebrew-BoldItalic.ttf');
  font-weight: normal;
  font-style: normal;
}

 @font-face {
  font-family: 'Open Sans Hebrew Light';
  src: url('assets/Fonts/OpenSansHebrew/OpenSansHebrew-Light.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans Hebrew Condensed';
  src: url('assets/Fonts/OpenSansHebrew/OpenSansHebrewCondensed-Bold.ttf');
  font-weight: normal;
  font-style: normal;
}