@import '../../../../styles/mixins';
@include inputValidation($valid, $invalid);

iframe {
  border: none;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
