.af{
  border:1px solid red;
}


.subcover, i {
    line-height: 38px;
}

.form-control.lali-form-control {
  width: 84px;
}

#accessory {
  display: inline-block;
  padding: 0;
  text-align: center;
}