<div class="row" aria-hidden="true">
  <div class="col-12">
    <div class="row subcover" *ngIf="!grantedDriversFeatureEnabled">
      <i class="col-auto fa fa-check lali-primary-color ml-2 mr-2"></i>
      <span class="col-auto text" translate>CarComprehensivePartialDamageSubcoverDriverAgeCover1</span>
      <div class="select-age">
        <mat-select class="col-auto ml-2 mr-2 custom-select" [ngModel]="carProcess.comprehensivePolicySelectedAge.id" (change)="onDriverAgeChanged(subCover, $event)">
          <mat-option *ngFor="let option of comprehensiveDrivingAgeItems" [value]="option.id">{{option.name}}</mat-option>
        </mat-select>
      </div>

      <span class="col-auto text ml-1 m2-1">{{ 'CarComprehensivePartialDamageSubcoverDriverAgeCover2' | translate}} </span>
      <span class="col-auto text" translate>CarComprehensivePartialDamageSubcoverLicenseIssuingYears1</span>
      <mat-select class="col-auto  ml-2 mr-2 custom-select" (change)="onDriverLicenseIssuingYearChanged(subCover, $event.value)" [ngModel]="carProcess.comprehensivePolicySelectedDrivingExperience.id">
        <mat-option *ngFor="let option of comprehensiveDrivingExperienceItems" [value]="option.id">
          {{option.name | translate}}
        </mat-option>
      </mat-select>
      <span class="row text ml-2 mr-2" translate="">PARTIAL_DAMAGE</span>
    </div>
    <div class="row" *ngIf="grantedDriversFeatureEnabled">
      <span class="col-auto text" translate>GRANTED_DRIVERS</span>
      <mat-select class="col-auto  ml-2 mr-2 custom-select" (change)="onDriverPermissionGroupChanged(subCover, $event.value)" [(ngModel)]="carProcess.driverPermissionGroup.id">
        <mat-option *ngFor="let option of driverPermissionGroup | async" [value]="option.id">
          {{option.name | translate}}
        </mat-option>
      </mat-select>
      <div class="col-auto ml-2 mr-2 ">
        <mat-checkbox [(ngModel)]="carProcess.isDrivingInShabat" (change)="onDrivingInShabatChanged(subCover, $event.checked)">{{'SATURDAY_DRIVING_QUESTION' | translate}}</mat-checkbox>
      </div>
    </div>
    <div class="row">
      <div class="col-auto ml-2 mr-2">
        <div class="price text-center">({{subCover | policyPremium}})</div>
      </div>
    </div>

  </div>

</div>
